.page_container {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.form_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question_form {
  width: 25vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  background: transparent;
}
.text_container {
  position: relative;
  z-index: 4;
  background: rgb(226, 198, 236);
  padding: 3vh 6vh;
  border-radius: 15px 15px 0 0;
}
.h2_add {
  font-weight: bolder;
  letter-spacing: 1.5pt;
  color: #333;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}

.words {
  word-spacing: 0px;
  color: rgb(159, 172, 182);
  font-size: 17px;
  margin: 0;
  margin-top: 3vh;
  font-weight: bold;
}
.add_questionForm {
  position: relative;
}
.input_section {
  width: 100%;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  height: 9vh;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
}
.question_input::placeholder {
  color: rgb(143, 143, 214);
  font-weight: bold;
  font-size: 12pt;
}
.question_input {
  background: lightgray;
  color: rgb(143, 143, 214);
  width: 80%;
  padding: 5vh;
  margin: 0;
  font-weight: bold;
  transition: 0.5s;
  border: none;
  font-size: 12pt;
}
.shadow1 {
  background-color: rgb(233, 226, 192);
  position: relative;
  height: 11vh;
  width: 23.5vw;
  z-index: -1;
  border-radius: 15px;
  transform: translate(3.5%, 0%);
}
.shadow2 {
  background-color: rgb(191, 151, 206);
  position: relative;
  height: 2vh;
  width: 21.9vw;
  z-index: -1;
  border-radius: 0px 0px 15px 15px;
  transform: translate(7.5%, 0%);
}
.animated_button {
  width: 20%;
  background-color: rgb(212, 212, 255);
  border: none;
}

.animated_button:hover {
  cursor: pointer;
}
.animated_button:hover {
  background-color: rgb(164, 164, 219);
}
