.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(152, 152, 224);
  background-color: #00b0ff;
}

.header__icon {
  padding: 1vh;
}
.appName {
  text-decoration: none;
  color: white;
  font-family: cursive;
  font-style: italic;
  letter-spacing: 5px;
}
