.login__outercontainer {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  width: fit-content;
  min-height: fit-content;
  display: flex;
}

form {
  background-color: rgba(209, 211, 233, 0.2);
  display: inline;
  width: 25vw;
  height: fit-content;
  text-align: center;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-radius: 2vh;
  box-shadow: 0 5px 40px black;
}

.userDetails {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 10vh;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: "Brush Script MT", cursieve;
  margin-bottom: 7vh;
  letter-spacing: 5px;
}
.inputs {
  font-weight: bold;
}
.inputs > input {
  border: none;
  background: none;
  font-weight: bold;
  transition: 0.5s;
  width: 5vw;
}

.inputs > input::placeholder {
  color: rgb(46, 114, 240, 0.3);
}

input:focus {
  outline: none;
}

.button > input {
  font-size: 15;
  color: white;
  border: none;
  padding: 2vh 5vw;
  text-align: center;
  vertical-align: middle;
  background-color: #c018dd;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 10px black;
  transition: 0.5s;
  font-weight: bold;
}

.button > input:hover {
  background-color: #8337d4;
}

.button > input:active {
  box-shadow: 0 5px black;
  transform: translateY(5px);
}

p:hover {
  cursor: pointer;
}
