.outer__Menu {
  height: 200;
  width: 150;
  background-color: silver;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10;
  border: thin solid black;
  border-radius: "10px";
  position: "absolute";
}

.rows {
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

.rows:hover {
  background-color: darkgray;
  cursor: pointer;
}
