.profile__container {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: -1;
}

.card {
  position: absolute;
  top: 30%;
  bottom: 25%;
  left: 30%;
  right: 30%;
  text-align: center;
}
.card__side {
  position: absolute;
  top: 2vh;
  bottom: 2vh;
  left: 2vw;
  right: 2vw;
  background-image: url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 30px #fff;
}

.data {
  position: absolute;
  top: 8vh;
  right: 0%;
  left: 0%;
  bottom: 20%;
  list-style-type: none;
  background-color: ghostwhite;
  padding: 0 3vw 3vw;
}

.data > li {
  margin-top: 2vh;
  padding: 0.5em;
  border-bottom: 2px solid #eeeeee;
  font-family: "Brush Script MT", cursieve;
  font-size: 15pt;
}
.card__heading-span {
  display: inline;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "Brush Script MT", cursieve;
  letter-spacing: 4pt;
  font-size: 30pt;
}

form .userDetails .inputs {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .userDetails .inputs input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}

form .userDetails .inputs input .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
