.profile__container {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: -1;
}

.card {
  position: absolute;
  top: 20%;
  bottom: 10%;
  left: 30%;
  right: 30%;
  text-align: center;
}
.card__side {
  position: absolute;
  top: 2vh;
  bottom: 2vh;
  left: 2vw;
  right: 2vw;
  background-image: url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 30px #fff;
}

.data {
  position: fixed;
  top: 30%;
  right: 32%;
  left: 32%;
  bottom: 20%;
  list-style-type: none;
  background-color: ghostwhite;
  padding: 0 3vw 3vw;
}

.data > li {
  margin-top: 4vh;
  padding: 0.5em;
  border-bottom: 2px solid #eeeeee;
  font-family: "Brush Script MT", cursieve;
  font-size: 20pt;
}
.card__heading-span {
  display: inline;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "Brush Script MT", cursieve;
  letter-spacing: 4pt;
  font-size: 30pt;
}
