.question__state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 5px 10px 10px black;
  transition: 1.5s;
  align-items: center;
}

.question__state:hover {
  cursor: pointer;
  transform: translateY(5px);
  box-shadow: 5px 3px 3px black;
}
.Question {
  align-items: center;
  display: flex;
  justify-content: center;
}

.questions__div {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: fit-content;
  min-height: calc(100vh);
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  z-index: -1;
}

.questions__offer {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bolder;
  color: white;
  font-family: cursive;
}
.Question {
  height: 100%;
  width: 100%;
  font-weight: bolder;
  color: rgb(177, 171, 171);
  font-family: cursive;
}

.question__state:nth-child(odd) {
  background-color: #b2e6ff;
}
.question__state:nth-child(even) {
  background-color: #d9f3ff;
}

.add_to_asker {
  background-color: white;
  color: rgb(241, 31, 66) !important;
}
