.swipeButtons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px black !important ;
}

.swipeButtons__repeat {
  padding: 3vh !important;
  color: orange !important;
}

.swipeButtons__left {
  padding: 3vh !important;
  color: rgb(241, 31, 66) !important;
}

.swipeButtons__star {
  padding: 3vh !important;
  color: rgb(22, 197, 255) !important;
}
